:host {
  display: block;
}

.small {
  font-size: 0.8em;
}

#controls {
  background: #444;
  color: white;
}

#controls.offline core-icon, #controls.offline .play-position {
  opacity: 0.4;
  pointer-events: none;
}

paper-tabs::shadow #selectionBar {
  background-color: #333;
}

paper-tabs paper-tab {
  background: #555;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  transition: background-color 0.4s;
}

paper-tabs paper-tab::shadow #ink {
  color: #333;
}

paper-tab.core-selected {
  background: #222;
}

#userForm {
  padding: 10px;
}
#colorField, #nameField {
  display: inline-block;
  margin: 0 5px;
}